body{
    background-color: rgb(43, 172, 231);
    font-family:'Courier New', Courier, monospace;
}

/* LOGIN USUARIO */

#caixa-bemvindo{
    background-color: rgb(255, 255, 255);
    border-radius: 60px 0px;
    padding: 40px 15px 40px 15px;
}

#titulo{
    color: rgb(27, 218, 218);
    margin-bottom: 15px;
}

#input-bemvindo{
    border: hidden;
    border-bottom: 1px solid black;
    margin-top: 10px;
    text-align: center;
    width: 85%;
}

#botao-bemvindo{
    background-color: rgb(27, 218, 218);
    border: 0px;
    color: rgb(255, 255, 255);
    width: 95%;
}

/* LOGIN VISITANTE */
#caixa-visitante{
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    margin-top: 0px;
    padding: 40px 15px 40px 15px;
}

#input-visitante{
    border: hidden;
    border-bottom: 1px solid black;
    margin-top: 10px;
    text-align: center;
    width: 85%;
}